---

---
<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>Winclipper</title>
        {% include head.html %}
    </head>
    <body id="projects">
		{% include navigation.html %}
		<main>
      <div class="centering" style="background-color=#90bbff;">
          <h1>Winclipper</h1>
          <br>
          <img src="WinclipperSvg.svg" style="Height:200px;Width:200px;" alt="Image of Night Mode for Adium"/>
          <br>
      </div>
			<div class="content-wrap">
                <div class="centering">
                    <h4>
                    <a href="https://github.com/Carson-Shook/Winclipper/releases/download/v1.0/WinclipperSetup-x64.zip" download><span class="button">Download 64-bit</span></a>
                    </h4>
                    <br>
                    <h4>
                    <a href="https://github.com/Carson-Shook/Winclipper/releases/download/v1.0/WinclipperSetup-x86.zip" download><span class="button">Download 32-bit</span></a>
                    </h4>
                    <br>
                    <p>Winclipper is a better clipboard for Windows with Unicode support and a built in preview so that you always know what you're pasting.</p>
                    <br><br>
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
