<footer>
    <div class="content-wrap">
        © {{ site.time | date: "%Y" }} Carson Shook – <a href="/privacypolicy">Privacy Policy</a>
        <span class="rightfloat">
            Connect with me on
            <a href="http://github.com/Carson-Shook" title="Carson Shook on GitHub">GitHub</a>
            <a href="http://twitter.com/TwilightShadow1" title="Carson Shook on Twitter">Twitter</a>
            <a href="http://linkedin.com/in/carsonshook" title="Carson Shook on Linkedin">Linkedin</a>
        </span>
    </div>
</footer>
