<nav>
    <ul>
	<li><a href="/" class="navigation" id="title">CARSON SHOOK</a></li>
	<li><a href="/blog/" class="navigation" id="blog">Blog</a></li>
    <li>
        <a href="/projects/" class="dropdownnode navigation" id="projects">Projects</a>
        <ul>
            <li><a href="/Adium-Theme-Night-Mode" class="dropdownitem navigation">Adium Night Mode</a></li>
            <li><a href="/BetterPonymotes-for-Safari/" class="dropdownitem navigation">BetterPonymotes for Safari</a></li>
            <li><a href="/cursed-breakout" class="dropdownitem navigation">Cursed-Breakout</a></li>
            <li><a href="/StupidSimpleUpdater" class="dropdownitem navigation">StupidSimpleUpdater</a></li>
            <li><a href="/Winclipper" class="dropdownitem navigation">Winclipper</a></li>
        </ul>
    </li>
    <li><a href="/about/" class="navigation" id="about">About</a></li>
    </ul>
</nav>
