<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Winclipper" Language="1033" Version="1.4.1.0" Manufacturer="Carson Shook" UpgradeCode="34e3392e-e835-41c9-ac2b-f0c68176f4ca">
		<Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Icon Id="Winclipper.ico" SourceFile="..\Winclipper\Winclipper.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Winclipper.ico" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Winclipper." />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Winclipper" />
    <Property Id="WixShellExecTarget" Value="[#Winclipper.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="..\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="..\SetupResources\Winclipper-WixUIBanner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="..\SetupResources\Winclipper-WixUIDialog.bmp"/>
    
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
        Control="Finish" 
        Event="DoAction" 
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    
    <Feature Id="ProductFeature" Title="Winclipper" Level="1">
      <Feature Id="VCRedist" Title="Visual C++ 14 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="VCRedist"/>
      </Feature>
      <Feature Id="SSUP" Title="ApplicationUpdater" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="SSUP"/>
        <ComponentRef Id="SSUPConfig"/>
      </Feature>
      <ComponentRef Id="Winclipper.exe"/>
      <ComponentRef Id="license"/>
      <ComponentRef Id="readme"/>
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="RegistryEntries"/>
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist" SourceFile="Microsoft_VC141_CRT_x64.msm" DiskId="1" Language="0"/>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="Winclipper" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Winclipper"/>
      </Directory>
		</Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="94F2A810-E24E-429A-8886-A15F5A9B1897">
          <RegistryKey Root="HKCU"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run">
              <RegistryValue Type="string" Name="Winclipper" Value="[#Winclipper.exe]" />
          </RegistryKey>
      </Component>
    </DirectoryRef>
  
		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Merge Id="SSUP" SourceFile="SSUP_merge_x64.msm" DiskId="1" Language="0"/>
      <Component Id="SSUPConfig" Guid="B6DC9C7F-3A15-4191-ACA4-6A92A6BA8DB8">
        <File Id="SSUPConfig" Source="SSUPConfig.xml" KeyPath="yes"/>
      </Component>
			<Component Id="Winclipper.exe" Guid="D1C47046-027D-44D4-AC53-706794AD1D94">
        <File Id="Winclipper.exe" Source="$(var.Winclipper.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="license" Guid="CDDA7A8E-F4F3-45F1-8FA3-4443282ECB4F">
        <File Id="license" Source="..\license.rtf" KeyPath="yes"/>
      </Component>
      <Component Id="readme" Guid="759817FC-9980-4D43-8106-519276331AE8">
        <File Id="readme" Name="readme.txt" Source="..\readme.md" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="AAFEFE95-5C68-4CAD-8D55-25B3C5563FBB">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Winclipper"
                  Description="Winclipper Shortcut"
                  Target="[#Winclipper.exe]"
                  WorkingDirectory="ProductComponents"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Winclipper" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
