---
layout: default
---
<article>
{% include post_header.html %}
{{ content }}
</article>
<div class="comments">
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'carson-shook';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>
<div class="pagination">
	{% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="postnav" id="navback"><img src="http://carson-shook.github.io/img/arrow.png" id="previous" />
        <script type="text/javascript">
            var string = "{{page.previous.title}}";
            if(string.length > 25) {
                string = string.substring(0,24)+"...";
            }
            document.write(string);
        </script>
    </a>
	{% endif %}
	{% if page.next.url %}
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}" class="postnav" id="navforward">
        <script type="text/javascript">
            var string = "{{page.next.title}}";
            if(string.length > 25) {
                string = string.substring(0,24)+"...";
            }
            document.write(string);
        </script>
        <img src="http://carson-shook.github.io/img/arrow.png" id="next" />
    </a>
	{% endif %}
</div>